@model IEnumerable<LinkMasters.Models.Link>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="row">

        @foreach (var item in Model)
        {
            if (item.Nickname == "JROTC")
            {
                <div class="column" style="float: left">
                    <div class="thumbex">
                        <div class="thumbnail">
                            @if (item.ImageId != null)
                            {
                                <a href="@item.Url"><img src="@Url.Content(item.Image.ImagePath)" /><span class="image-title">@item.Nickname</span></a>

                            }
                            else
                            {
                                <a href="@item.Url"><img src="@Url.Content("~/Images/Default/Default.jpg")" /><span class="image-title">@item.Nickname</span></a>

                            }
                        </div>
                    </div>
                </div>
            }
            else if (item.Nickname == "Handy Links")
            {
                <div class="column">
                    <div class="thumbex">
                        <div class="thumbnail">
                            @if (item.ImageId != null)
                            {
                                <a href="@item.Url"><img src="@Url.Content(item.Image.ImagePath)" /><span class="image-title">@item.Nickname</span></a>

                            }
                            else
                            {
                                <a href="@item.Url"><img src="@Url.Content("~/Images/Default/Default.jpg")" /><span class="image-title">@item.Nickname</span></a>

                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="column" style="float: right">
                    <div class="thumbex">
                        <div class="thumbnail">
                            @if (item.ImageId != null)
                            {
                                <a href="@item.Url"><img src="@Url.Content(item.Image.ImagePath)" /><span class="image-title">@item.Nickname</span></a>

                            }
                            else
                            {
                                <a href="@item.Url"><img src="@Url.Content("~/Images/Default/Default.jpg")" /><span class="image-title">@item.Nickname</span></a>

                            }
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>