@model IEnumerable<LinkMasters.Models.Budget>
@{
    ViewData["Title"] = "SpecificMonthBudget";
    Layout = "~/Views/Shared/_BudgetLayout.cshtml";
}

<div class="col-lg-9 budget-div">
    <table class="budget-table">
        <thead class="budget-head">
            <tr class="budget-tr">
                <th class="budget-th" colspan="10"><h1 style="text-align: center">@ViewBag.Year</h1></th>
            </tr>
            @*<tr class="budget-tr">
                    <th style="background: #eee" colspan="8"><h5 style="font-weight: bold;">Starting Allowance: $@String.Format("{0:n}", ViewBag.StartingAllowance)</h5></th>
                </tr>*@
            @*<tr class="budget-tr">
                    @if (ViewBag.AllowancePositive == true)
                    {
                        <th style="background: #eee" colspan="8"><h5 style="color: #009900; font-weight: bold;">Allowance Remaining: + $@String.Format("{0:n}", ViewBag.Allowance)</h5></th>

                    }
                    else
                    {
                        <th style="background: #eee" colspan="8"><h5 style="color: #ff0000; font-weight: bold;">Allowance Remaining: - $@String.Format("{0:n}", ViewBag.Allowance)</h5></th>

                    }
                </tr>
                <tr class="budget-tr">
                    <th style="background: #eee" colspan="8"><a style="padding-left: 30px; padding-right: 30px; text-align: center;" class="btn btn-primary expense-button" asp-action="YearBudget" asp-controller="Budgets" asp-route-personGuid="@ViewBag.PersonGuid" role="button">View Year Budget</a></th>
                </tr>*@
            <tr class="budget-tr">
                <th colspan="2" class="budget-th">Expense</th>
                <th colspan="2" class="budget-th">Place</th>
                <th colspan="2" class="budget-th">Cost</th>
                <th colspan="2" class="budget-th">Day</th>
                <th colspan="2" class="budget-th">Month</th>
            </tr>
        </thead>
        <tbody class="budget-body">
            @foreach (var item in Model)
            {
                <tr class="budget-tr">
                    <td colspan="2" class="budget-td">@item.Expense</td>
                    <td colspan="2" class="budget-td">@item.Place</td>
                    <td colspan="2" class="budget-td">$@String.Format("{0:n}", item.Cost)</td>
                    <td colspan="2" class="budget-td">@item.Day.DayOfMonth</td>
                    <td colspan="2" class="budget-td">@item.Calendar.Month</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="back-btn">
    <a style="padding-left: 30px; padding-right: 30px; text-align: center;" class="btn btn-primary" asp-action="YearBudget" asp-controller="Budgets" asp-route-personGuid="@ViewBag.PersonGuid" role="button">Back</a>
</div>


